/* Global */

@import url(normalize.css);

/* Headings and typography */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Source+Serif+Pro&display=swap");

h1,
h2,
h3,
h4,
h5 {
  font-family: "Source Serif Pro", serif;
  letter-spacing: -1px;
  font-weight: normal;
}
html {
  font-size: 20px;
  line-height: 1.4;
}
body {
  background-color: #eeecd7;
  font-family: "Roboto Slab", serif;
  font-size: 0.8rem;
}
h1 {
  font-size: 4rem;
  color: #2f0a5c;
}

h2 {
  font-size: 2rem;
  color: rgb(27, 12, 94);
}

h3 {
  font-size: 1.5rem;
  color: rgb(39, 19, 131);
}

h4 {
  font-size: 1.2rem;
  color: rgb(45, 17, 170);
}
h5 {
  color: rgb(52, 50, 61);
}

a {
  color: rgb(41, 41, 53);
}
a:visited {
  color: rgb(214, 203, 43);
}

a:hover {
  color: #0f1629;
  font-weight: bold;
}

::selection {
  background: #d64e4e;
}

.titles {
  text-align: center;
}
.content-box article {
  text-align: center;
}
/* header */
.mainhead {
  background-color: azure;
  text-align: center;
  padding: 40px;


}



.linkhead {
  background-color: #d64e4e;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.intro {
  border: black;
  border-radius: 40%;
  text-align: center;
  padding: 60px;
  margin-left: auto;
  margin-right: auto;
}
/* navigation*/

/* footer */
footer {
  background-color: azure;
  text-align: center;
  padding: 40px;
}
/* modules */

.fdd {
  text-align: center;
}
img {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding: px;
}
.layoutrooms {
  border: black;
  border-radius: 40%;
  max-width: 800px;
  padding: 100px;
  margin-left: auto;
  margin-right: auto;
}
article {
  padding-right: 10px;
}

.title1 {
  text-align: center;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width) 
{

}
.content-box {
  background-color: whitesmoke;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.content-box2 .vid {
  background-color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
}
.vid {
  max-width: 500px;
  max-height: 500px;
}
.videocap {
  padding: 20px;
  text-align: center;
  background-color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 500px;
}
